<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Students performance</title>
  </head>
  <body>
    <main class="container">
      <article>
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Week 1 completed</th>
              <th scope="col">Week 2 completed</th>
              <th scope="col">Week 3 completed</th>
            </tr>
          </thead>
          <tbody>
            {% for item in performances %}
            <tr></tr>
              <th scope="row">{{ item.student_name }}</th>
              {% if item.week1_completed %}
              <td>✅</td>
              {% else %}
              <td>❌</td>
              {% endif %}
              {% if item.week2_completed %}
              <td>✅</td>
              {% else %}
              <td>❌</td>
              {% endif %}
              {% if item.week3_completed %}
              <td>✅</td>
              {% else %}
              <td>❌</td>
              {% endif %}              
            </tr>
            {% endfor %}            
          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
